@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@font-face {
    font-family: NyghtSerif;
    src: url(Fonts/NyghtSerif-Dark.woff2);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*************************************************/
html{
    scroll-behavior: smooth;
    padding-top: 100px;
}
body{
    overflow-x: hidden;
    background-color: #030C1B;
    height: fit-content;
}

header {
    z-index: 1000;
    top: 0px;
    position: fixed;
    width: 90vw;
    height: 100px;
    background-color: #0B182B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 4vw;
    padding-right: 6vw;
}

#logo {
    height: 60px;
    background-size: contain;
}

nav{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    gap: 120px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
    
nav a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

nav a:hover{
    color: #FFD300;
    
}



#cv{
    width: 180px;
    height: 60px;
    border-radius: 5px;
    border-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.btn{
    background-color: rgb(11, 24, 191);
}

.btn:hover{
    background-color: #0d1cee;
}

.NavButton{
    border: none;
    background-color: transparent;
}


.NavBar{
    position: absolute;
    height: 100vh;
    width: 70vw;
    background-color: #FFD300;
    left: -70vw;
}
/**************************************/
/**************************************/
/**************************************/

#present {
    position: relative;
    padding-top: 1vw;
    padding: 1vw;
    width: 100vw;
    height: 40vw;
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    gap: 200px;
}

#present:target{
    padding-top: 100px;
    margin-top: -100px;
    color: yellow;
}

#moi{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 40vw;
    justify-content: center;
}

#nom-metier{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#nom{
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    color: white;
}

#metier{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

#description{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
}

#img{
    height: 100%;
    width: 80%;
}

#img img{
    height: 100%;
}

svg{
    display: none;
    transition: all 1s;
    fill: white;
}

/********************************/
/********************************/
/********************************/

#competence{
    width: 100vw;
    height: 800px;
    background-color: #121F32;
    display: flex;
    justify-content: center;
    align-items: center;

}

#all-competence{
    gap: 80px;
    display: flex;
    flex-direction: column;
}

.titre{
    font-size: 40px;
    font-family: NyghtSerif;
    color: white;
}

#cartes{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.carte{
    height: 500px;
    width: 345px;
    background-color: #081727;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.card{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-right: 50px;
}


.card img{
    width: 40%;
}

.nom_lang{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: white;
}

.desc_lang{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 16px;
    color: white;
}

#arrow{
    display: none;
}

/********************************/
/********************************/
/********************************/

#portfolio{
    width: 100vw;
    height: fit-content;
}

#portfolio:target{
    padding-top: 100px;
    margin-top: -100px;
    color: yellow;
}

#all_portfolio{
    margin: 80px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#projets{
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    justify-items: center;
}

.projet{
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
    /* border: 2px solid white; */
    border-radius: 5px;
}

.img_projet{
    width: 300px;
    height: 300px;

}

.desc_projet{
    width: 260px;
    height: 230px;
    background-color: rgba(11, 23, 191, 0.9);
    transform: translateY(0%);
    display: flex;
    flex-direction: column;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#p0{
    background-image: url(Image/Image_Projet/MarioCacheCache.png);
    background-size: contain;
}

#p1{
    background-image: url(Image/Image_Projet/SpamTheButton.png);
    background-size: contain;

}

#p2{
    background-image: url(Image/Image_Projet/ImageWorkshop1.png);
    background-size: cover;
}

.title{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.lang p span{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.desc{
    margin-top: 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.redirect{
    justify-self: flex-end;
    color: white;
    text-decoration: underline;
}

/*
Contact
*/

#contact{
    width: 100vw;
    height: 45vw;
    background-color: #121F32;
    display: flex;
    color: white;
}

#contact:target{
    margin-top: -100px;
    padding-top: 100px;
}

.container-contact{
    width: 70%;
    height: 70%;
    background-color: #13163f;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.contact-haut{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.text-haut-contact{
    font-size: 40px;
}

.text-bas-contact{
    font-size: 20px;
}

.contact-bas{
    width: 30%;
    height: 30%;
}

.input-nom-email{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 30px;

}

.input-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.input-label{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-text{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}

input:focus {
    outline:  none;

}

label{
    font-size: 1.3em;
}

.button{
    border-radius: 5px;
    border: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: space-around;
}
/*
Footer
*/
footer{
    width: 100vw;
    height: 20vh;
}

/*
Responsive Part
*/

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    nav{
        gap :60px
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    nav{
        display: none;
    }
    svg{
        display: initial;
    }
  }

  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    nav{
        display: none;
    }
    svg{
        display: initial;
    }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (max-width: 480px) {

    body{
        position: absolute;
        top: 0px;

    }
    header{
        gap: 0px;
        justify-content: space-between;
    }
    #moi{
        width: 80%;
        margin-bottom: 10%;
    }
    nav{
        display: none;
    }
    svg{
        display: initial;
    }
    #all-competence{
        align-items: center;
    }
    #portfolio{
        height: fit-content;
    }
    #all_portfolio{
        margin: 0px;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .titre{
        margin-top: 4%;
    }
    #present{
        margin-left: 0;
        padding: 0;
        padding-top: 100px;
        gap: 0;
        height: fit-content;
        flex-direction: column;
        align-items: center;
    }
    #img{
        width: 70%;
    }
    #img img{
        width: 100%;
    }
    #competence{
        height: fit-content;
    }
    #cartes{
        justify-content: flex-start;
        width: fit-content;
        height: 500px;
    }
    .carte{
        width: 90vw;
        height: 100%;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    #projets{
        grid-template-columns: repeat(1, 0.5fr);
    }
    #cartes-container{
        width: 100vw;
        overflow-x: scroll;
    }
    #arrow{
        display: block;
        width: 20%;
        fill: white;
    }
    #contact {
        width: 100vw;
        height: fit-content;
        background-color: #121F32;
        display: flex;
        color: white;
    }
    .container-contact {
        width: 100%;
        height: 70%;
        background-color: #13163f;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 50px;
    }

    label {
        font-size: 1rem
    }
    .contact-haut {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Open Sans', sans-serif;
        margin-top: 2%;
    }
    .text-haut-contact{
        font-size: 20px;
    }
    .text-bas-contact{
        font-size: 10px;
    }
    .contact-bas {
        width: fit-content;
        height: 30%;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .input-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: fit-content;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        gap: 40px;
    }
    .input-nom-email{
        flex-direction: column;
    }
    .button{
        margin-bottom: 2%;
    }
  }